#loginpage{
	opacity:0.95;
	background-color:white;
	margin:5% auto 0px auto;
	width:80%;
	height:auto;
	max-width:650px;
}

body{
	background-image: url(../images/bg2.jpg);
}
#login{
	padding: 25px;
}

#login input{
	width:100%;
	padding: 10px 20px 0px 20px;
	padding:10px 20px;
	font-size:15;
}


#btn{
	text-align:center;
}

#loginbtn,#loginfbbtn{
	width:100%;
	margin: 5px 0px;
	padding:10px 0px;
	font-size:15;
	text-align:center;
}


#loginbtn{
	background-color:#ffAA1a;
	color:white;
}

#loginfbbtn{
	background-color:#3B5998;
	color:white;
}

#forgetbtn,#createbtn{
	text-align:right;
	padding:3px;
}

#forgetbtn{
	color:#0081c1;
}

#createbtn{
	color:#0081c1;
}

/*<input type="text" placeholder="Email"/><br>
				<input type="password" placeholder="Password"/><br>*/

.col-3{
 margin-top: 20px;
 position: relative;
}
input[type="text"]{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  
}

.effect-1{
  border: 0;
  padding: 4px 0;
      border-bottom: 1px solid #8484838f;
  background-color: transparent;
}

.effect-1 ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
  
  
}

.effect-1:focus ~ .focus-border,
.has-content.effect-1 ~ .focus-border{
  width: 100%;
  
  transition: 0.4s;
}

.effect-1 ~ label{
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-1:focus ~ label,
.has-content.effect-1 ~ label{
  top: -16px;
  font-size: 12px;
  color: #dc941b;
  transition: 0.3s;
}

#logoplace{
	    text-align: center;
    padding: 30px 0px 0px 0px;
    border-bottom: 1px solid #916d318a;
    width: 90%;
    margin: 0px auto;
}

#logoplace img{
	width:80%;
}
